::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #25273c;
}

::-webkit-scrollbar-thumb {
  background: #355bc6;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.main {
  height: 100vh;
  background-color: #171723;
}

.main-img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32%;
  background-image: url(../images/nasa-1lfI7wkGWZ4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.main-title {
  font-size: 60px;
  text-align: center;
  color: #fff;
  padding: 60px 0;
  font-weight: 275;
  letter-spacing: 20px;
}

.form {
  width: 600px;
  margin: 0 auto;
  background: #25273c;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.form-btn {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: none;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
  line-height: 0;
  cursor: pointer;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.form-btn:hover {
  border: 1px solid #355bc6;
  color: #355bc6;
  -webkit-box-shadow: 0 0 5px #355bc6;
          box-shadow: 0 0 5px #355bc6;
  box-shadow: 0 0 5px #355bc6;
}

.form-input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: #c7c7c7;
}

.wrapper {
  width: 600px;
  margin: 50px auto 0 auto;
  max-height: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.todos-todo {
  padding: 20px;
  border-bottom: 1px solid #5a5a5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #25273c;
  gap: 20px;
}

.todos-todo__btn {
  width: 26px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: none;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
  color: transparent;
}

.todos-todo__title {
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 300;
}

.todos .completed .todos-todo__btn {
  border-color: #355bc6;
  color: #355bc6;
}

.todos .completed .todos-todo__title {
  color: #5a5a5a;
  text-decoration: line-through;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: #25273c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.footer-info {
  color: #5a5a5a;
}

.footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer-btns button {
  background: none;
  border: none;
  color: #5a5a5a;
  font-size: 16px;
  cursor: pointer;
}

.footer-btns button.active-btn {
  color: #355bc6;
  text-shadow: 0 0 5px #355bc6;
}

.clear {
  background: none;
  border: none;
  font-size: 16px;
  color: #5a5a5a;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.clear:hover {
  color: #355bc6;
  text-shadow: 0 0 5px #355bc6;
}

h1,
form,
.wrapper {
  position: relative;
  z-index: 1;
}
